:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-wrapper {
  display: flex;
  flex: 1;
  /* might help REFACTORING this someday */
  height: calc(100% - 46.4px);
}

section {
  height: 100%;
  width: 20px;
}

.page-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
