<main>
  <div class="intro-container">
    <h1>
      <span>I</span>&nbsp;<span>am</span>&nbsp;<span class="highlight"
        >Almar</span
      >
    </h1>
    <h2>
      <span>A</span>&nbsp;<span>Full-stack</span>&nbsp;<span>Developer</span>
    </h2>
    <div class="intro-buttons">
      <app-secondary-button iconName="phone" [iconWidth]="19"  />
      <app-secondary-button iconName="linkedin" [iconWidth]="25" [iconHeight]="23" />
      <app-secondary-button iconName="github" [iconWidth]="25" />
      <app-primary-button caption="My Projects" iconName="redo" [iconWidth]="16" (click)="openProjectsFile()"/>
    </div>
  </div>
</main>
