/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "droid-sans";
  src: url('assets/DroidSans.ttf');
}

* {
  font-family: "droid-sans";
}

* {
  --text-color: #dedede;
  --primary-color: #007ACC;
  --background-color-shade1: #1E1E1E;
  --background-color-shade2: #252526;
  --background-color-shade3: #2D2D2D;
  --background-color-shade4: #333333;
  --background-color-shade5: #3C3C3C;
  --background-color-shade6: #464646;
  --icon-color: #828583;
}

* {
  color: var(--text-color);
  font-weight: lighter;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color-shade1);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
