section#timeline {
  position: relative;
  margin: 0 3rem 3rem 3rem;
}

section#timeline:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -1px;
  width: 2px;
  height: 100%;
  background: var(--background-color-shade3);
}

section#timeline article {
  width: 100%;
  margin: 0 0 14px 0;
  position: relative;
}

section#timeline article:after {
  content: '';
  display: block;
  clear: both;
}

section#timeline article div.inner {
  width: 45%;
  float: left;
  margin: 5px 0 0 0;
  border-radius: 6px;
}

.xp-detail {
  padding: 15px;
  margin: 0;
  font-size: 14px;
  background: var(--background-color-shade3);
  color: var(--text-color);
  border-radius: .7rem;
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

section#timeline article:nth-child(even) div.inner {
  float: right;
}

.logo {
  display: block;
  width: 45px;
  height: 45px;
  padding: 5px;
  position: absolute;
  top: 1rem;
  left: 50%;
  margin: 0 0 0 -23px;
  border-radius: 100%;
  background: var(--background-color-shade3);
}

.img-logo {
  width: 1rem;
  height: 1rem;
}

.detail-header {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

h2 {
  font-size: 1rem;
}

h2, h3 {
  font-weight: 600;
}

h3 {
  font-size: .8rem;
}

h4 {
  font-size: .7rem;
}

p {
  font-size: .7rem;
  line-height: 1rem;
}

header {
  width: 100%;
  padding: 3rem;
  text-align: center;
}

header > h1 {
  font-weight: bold;
  font-size: 2rem;
}
