<main>
  <header>
    <h1>My Career as Developer</h1>
  </header>
  <section id="timeline">
    <article *ngFor="let experience of experiences">
      <div class="inner">
        <img class="logo" [src]="experience.iconLink" />
        <div class="xp-detail">
          <div class="detail-header">
            <h2>{{ experience.companyName }}</h2>
            <h3 *ngIf="!!experience.position">{{ experience.position }}</h3>
            <h4>{{ experience.yearsOfStay }}</h4>
          </div>
          <p>{{ experience.description }}</p>
        </div>
      </div>
    </article>
  </section>
</main>
