<main>
  <div class="title">
    <h1>My Journey as Developer</h1>
  </div>
  <div class="timeline-container">
    <div class="timeline">
      <div class="container">
        <div class="content">
          <h2>Infor PSSC</h2>
          <p>Lorem ipsum..</p>
          <p>Lorem ipsum..</p>
          <p>Lorem ipsum..</p>
          <p>Lorem ipsum..</p>
          <p>Lorem ipsum..</p>
        </div>
      </div>
      <div class="container">
        <div class="content">
          <h2>2016</h2>
          <p>Lorem ipsum..</p>
        </div>
      </div>
      <div class="container">
        <div class="content">
          <h2>2016</h2>
          <p>Lorem ipsum..</p>
        </div>
      </div>
    </div>
  </div>
</main>
